" shared (source of truth)
source ~/.vimrc

" IDEA specific
set scrolloff=5
set ideajoin
set ideastatusicon=keep
set ideamarks

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'

nnoremap <Tab> <Action>(NextTab)
nnoremap <S-Tab> <Action>(PreviousTab)
